<mat-toolbar>
  <span class="title" routerLink="/">Semantic Web Seminar Project</span>
  <div class="controls-container">
    <mat-slide-toggle [checked]="isDevMode$ | async" (change)="onDevModeChange($event)">
      Developer Mode
    </mat-slide-toggle>
  </div>
</mat-toolbar>
<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" opened class="drawer">
    <h2>Actions</h2>
    <mat-nav-list>
      <a mat-list-item *ngFor="let nav of navItems$ | async" [routerLink]="'actions/' + nav.id"
        routerLinkActive="active">{{nav.name}}</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>