<div [formGroup]="form">
  <div [ngSwitch]="field.controlType">
    <mat-form-field *ngSwitchCase="'text'" class="full-width">
      <mat-label>{{field.key}}</mat-label>
      <input matInput [formControlName]="field.key" [id]="field.key" [type]="field.type" />
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'number'" class="full-width">
      <mat-label>{{field.key}}</mat-label>
      <input matNativeControl [formControlName]="field.key" [id]="field.key" [type]="field.type" />
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'date'" class="full-width">
      <mat-label>{{field.key}}</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControlName]="field.key">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>